name: CI/CD Pipeline - Paso 1 SonarCloud

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - master

jobs:
  sonarcloud-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=crislb27
            -Dsonar.projectKey=CrisLB27_AUY1102-Eva3
            -Dsonar.python.version=3.9

  build-test-push:
    needs: sonarcloud-scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/evaluacion3-app:latest .

      - run: |
          docker run --rm ${{ secrets.DOCKER_USERNAME }}/evaluacion3-app:latest pytest test_app.py

      - run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/evaluacion3-app:latest
